<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(172, 243, 57);
    color: white;
    text-align: center;
  }
  </style>
  <!-- Footer section -->
  <br>
  <br>
  <br><br><br>
  <br>
  <br><br><br>
  <br>
  <br><br>
  <div class="footer">
    <p>&copy; Copyright 2021. All Rights reserved. Developed by MD Faiaz, Kelvin Ong, Ji Hoon Lee</p>
  </div>
  